.about {
    background-color: #cc5101;
    padding: 10%;
}

.about .heading {
    font-size: x-large;
    color: white;
    margin: 2%;
    text-align: center;
}

.about .paragraph {
    color: white;
    text-align: center;
}

@media (min-width: 1024px) {
    .about .paragraph {
        padding: 0 20%;
        color: white;
        text-align: center;
    }
}