.hero {
    padding: 40% 5% 25% 5%;
}

.hero-text1 {
    font-size: xx-large;
}

.hero-image {
    margin-top: 10%;
}

.hero-image img {
    mix-blend-mode: multiply;
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .hero {
        padding: 20% 5% 10% 5%;
    }
}

@media (min-width: 1024px) {
    .hero {
        padding: 10% 10% 10% 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero-text1 {
        font-size: 400%;
    }
}