.location {
    padding: 10%;
}

.location .heading {
    font-size: x-large;
    margin: 2%;
    text-align: center;
}

.location .paragraph {
    margin: 2%;
    text-align: center;
}

@media (min-width: 1024px) {
    .location {
        padding: 0% 20% 10% 20%;
    }
}