.primary400 {
    color: #ff8434;
}

.primary500 {
    color: #ff6501;
}

.primary600 {
    color: #cc5101;
}

.neutral400 {
    color: #a3a3a3;
}

.neutral300 {
    color: #d4d4d4;
}

.neutral200 {
    color: #e5e5e5;
}